#error-container {
    margin: 1% auto;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    font-size: 5em;
    margin: 0;
    padding: 0;
    color: rgba(255, 71, 71, 0.918);
}

h2 {
    font-size: 2em;
    margin-top: 1em;
    padding: 0;
    color: rgba(255, 211, 215, 0.918);
}

iframe {
    height: 100%;
    border: none;
    border-radius: 3px;
}